<ion-content>

  <ion-grid>
  
    <ion-row>
      <ion-col class="top-padding" size-lg>
        <h1 class="title">RosGuide</h1>
      </ion-col>
    </ion-row>

    <ion-row >
      <ion-col class="sub-title" size-lg>
        <span>Discover Roskilde with our help</span>
      </ion-col>
    </ion-row>

    <ion-row >
      <ion-col class="sub-title middle-padding" size-lg>
        <ion-button [routerLink]="['/login']" class="start" color="primary">
          Let's get started
        </ion-button>
      </ion-col>
    </ion-row>

    <ion-row class="padding">
      <img src="./assets/img/building.jpg">
    </ion-row>

  </ion-grid>

</ion-content>
