<ion-content [fullscreen]="true">

  <ion-row>
    <ion-col>
      <h1>My profile</h1>
    </ion-col>
  </ion-row>
  
  <!--Grid in list -->
  <ion-grid> 
      <ion-row class="margin-bottom">
        <ion-col>
          <div class="center">
            <img class="img" src="./assets/img/male.png">
          </div>
        </ion-col>
        <ion-col class="margin-right">
          <ion-text>
            <h2>{{ full_name }} </h2>
            <p class="text"><ion-icon name="location-outline"></ion-icon> {{ address }} </p>
          </ion-text>
        </ion-col>
      </ion-row>

      <ion-list class="padding">
        <ion-row>
          <ion-item class="width space">
          </ion-item>
        </ion-row>

        <ion-row class="row-padding">
          <ion-item [routerLink]="['/coupons']"  class="width">
            <ion-text class="pad">
              <ion-icon name="pricetags-outline"></ion-icon>
              My coupons
            </ion-text>
          </ion-item>
        </ion-row>

        <ion-row class="row-padding">
          <ion-item class="width">
            <ion-text class="pad">
              <ion-icon name="camera-outline"></ion-icon>
              Change profile picture
            </ion-text>
          </ion-item>
        </ion-row>

        <ion-row class="row-padding">
          <ion-item class="width">
            <ion-text class="pad">
              <ion-icon name="person-outline"></ion-icon>
              Change profile information
            </ion-text>
          </ion-item>
        </ion-row>

        <ion-row class="row-padding">
          <ion-item [routerLink]="['/login']" class="width">
            <ion-text class="pad">
              <ion-icon name="log-out-outline"></ion-icon>
              Log out
            </ion-text>
          </ion-item>
        </ion-row>

    </ion-list>
  </ion-grid>
</ion-content>