h1 {
  font-weight: bold;
  padding: 2em 0.8em 0;
}

.profile-title {
  text-align: center;
  padding: 1em 0;
}
.pad {
  height: 3em;
  padding: 0 1.5em;
}

.padding {
  padding: 1em 0 0;
}

.center {
  width: 100px;
  margin: 0 auto;
}

ion-icon {
  padding: 0 5px 0 0;
}

.margin-right {
  margin-right: 25px;
}

ion-title {
  text-align: center;
}

ion-grid {
  margin-top: 20px;
  margin-bottom: -15px;
}

.no-padding {
  padding-bottom: 0 !important;
}

.list-md {
  padding-bottom: 0px;
}

.item-native {
  padding-inline-start: 0px !important;
}

.width {
  width: 100%; 
}

ion-item::part(native) {
  padding-left: 0;
}

ion-grid {
  padding: 0;
}

.row-padding {
  padding-top: 2em;
  cursor: pointer;
}

.img {
  margin: 0 -1em;
}

.mat-typography h2 {
  margin: 0 !important;
}

.space {
  margin: -3em 0;
}

.margin-bottom {
  margin-bottom: 2em;
}

.background {
  background-color: #D46363;
  color: white;
}

.badge {
  margin: 0 0 auto auto;
}