<ion-content [fullscreen]="true">

  <ion-row>
    <ion-col>
      <h1>My profile</h1>
    </ion-col>
  </ion-row>
  
  <!--Grid in list -->
  <ion-grid> 
      <ion-row>
        <ion-col>
          <div class="center">
            <img class="woman" src="./assets/img/male.png">
          </div>
        </ion-col>
        <ion-col class="margin-right">
          <ion-text>
            <h2>{{ full_name }} </h2>
            <p class="text"><ion-icon name="location-outline"></ion-icon> {{ address }} </p>
          </ion-text>
        </ion-col>
      </ion-row>

      <ion-list class="padding">
        <ion-row>
          <ion-item class="width">
          </ion-item>
        </ion-row>
        <ion-row class="row-padding">
          <ion-item class="width">
            <ion-text class="pad">
              <ion-icon name="camera-outline"></ion-icon>
              Change profile picture
            </ion-text>
          </ion-item>
        </ion-row>
        <ion-row class="row-padding">
          <ion-item class="width">
            <ion-text class="pad">
              <ion-icon name="person-outline"></ion-icon>
              Change profile information
            </ion-text>
          </ion-item>
        </ion-row>
        <ion-row class="row-padding">
          <ion-item class="width">
            <ion-text class="pad">
              <ion-icon name="log-out-outline"></ion-icon>
              Log out
            </ion-text>
          </ion-item>
        </ion-row>

        <!-- <ion-item>
          <ion-label class="pad" position="floating">
            <ion-icon name="person-outline"></ion-icon>
            Change profile picture
          </ion-label>
        </ion-item>
      </ion-row> -->

      <!-- Padding at the end
      <ion-item class="no-padding">
        <ion-label></ion-label>
        <ion-input></ion-input>
      </ion-item>
  
      the list/ content (+microinteractions)
      
      <ion-item>
        <ion-label class="pad" position="floating"><ion-icon name="person-outline"></ion-icon>Change profile picture</ion-label>
        <ion-input></ion-input>
      </ion-item>
  
      <ion-item>
        <ion-label class="pad" position="floating"><ion-icon name="language-outline"></ion-icon>Change name</ion-label>
        <ion-input></ion-input>
      </ion-item>
  
      <ion-item>
        <ion-label class="pad" position="floating"><ion-icon name="location-outline"></ion-icon>Change location</ion-label>
        <ion-input></ion-input>
      </ion-item>
    
      <ion-item>
        <ion-label class="pad" position="floating"><ion-icon name="log-out-outline"></ion-icon>Log out</ion-label>
        <ion-input></ion-input>
      </ion-item>  -->
    </ion-list>
  </ion-grid>
</ion-content>