<ion-card style="box-sizing: inherit;">
  <ion-card-title style="color: tomato;">
    Your Location
  </ion-card-title>
</ion-card>

<div class="login-form-ion-padding">
  <div class="form-input">

    <ion-item lines="full">
      <ion-input id="user-input" placeholder="Permanent Address" ></ion-input>
    </ion-item>

    <ion-item lines="full">
      <ion-input id="user_input" placeholder="Temporary Address"></ion-input>
    </ion-item>
    
    <ion-button [routerLink]="['./map']" id="btn" expand="full" class="ion-margin-top">
      Submit
    </ion-button>
  </div>
</div>
    
  