<ion-content [fullscreen]="true">

  <ion-row>
    <ion-col>
      <h1>My badges</h1>
    </ion-col>
  </ion-row>

  <ion-row>
    <ion-col class="padding">
      <ion-icon name="medal-outline"></ion-icon>
      <span class="fav">Unlocked badges</span>
    </ion-col>
  </ion-row>

  <ion-row class="badges-padding">
    <ion-col>
      <ion-card>
        <img src="/assets/img/medal.jpg">
        <!-- <a href="https://www.vecteezy.com/free-vector/cartoon">Cartoon Vectors by Vecteezy</a> -->
      </ion-card>
    </ion-col>
    <ion-col>
      <ion-card>
        <img src="/assets/img/luxembourg.jpg">
        <!-- <a href="https://www.vecteezy.com/free-vector/cartoon">Cartoon Vectors by Vecteezy</a> -->
      </ion-card>
    </ion-col>
    <ion-col>
      <ion-card>
        <img src="/assets/img/sticky_note.jpg">
        <!-- <a href="https://www.vecteezy.com/free-vector/cartoon">Cartoon Vectors by Vecteezy</a> -->
      </ion-card>
    </ion-col>
  </ion-row>

  <ion-row class="badges-padding">
    <ion-col>
      <ion-card>
        <img src="/assets/img/yemen_flag.jpg">
        <!-- <a href="https://www.vecteezy.com/free-vector/cartoon">Cartoon Vectors by Vecteezy</a> -->
      </ion-card>
    </ion-col>
    <ion-col>
      <ion-card>
        <img src="/assets/img/sticker.jpg">
        <!-- <a href="https://www.vecteezy.com/free-vector/cartoon">Cartoon Vectors by Vecteezy</a> -->
      </ion-card>
    </ion-col>
    <ion-col>
    </ion-col>
  </ion-row>

  <ion-row>
    <ion-col class="padding">
      <ion-icon name="medal-outline"></ion-icon>
      <span class="fav">Locked badges</span>
    </ion-col>
  </ion-row>
  
  <ion-row class="badges-padding">
    <ion-col>
      <ion-card class="opacity">    
        <img src="/assets/img/europe_flag.jpg">
        <!-- <a href="https://www.vecteezy.com/free-vector/cartoon">Cartoon Vectors by Vecteezy</a> -->
      </ion-card>
    </ion-col>
    <ion-col>
      <ion-card class="opacity">    
        <img src="/assets/img/philippines.jpg">
        <!-- <a href="https://www.vecteezy.com/free-vector/cartoon">Cartoon Vectors by Vecteezy</a> -->
      </ion-card>
    </ion-col>
    <ion-col>
      <ion-card class="opacity">    
        <img src="/assets/img/ukraine_flag.jpg">
        <!-- <a href="https://www.vecteezy.com/free-vector/cartoon">Cartoon Vectors by Vecteezy</a> -->
      </ion-card>
    </ion-col>
  </ion-row>

  <ion-row class="badges-padding">
    <ion-col>
      <ion-card class="opacity">    
        <img src="/assets/img/norway.jpg">
        <!-- <a href="https://www.vecteezy.com/free-vector/cartoon">Cartoon Vectors by Vecteezy</a> -->
      </ion-card>
    </ion-col>
    <ion-col>
      <ion-card class="opacity">    
        <img src="/assets/img/bottle_cap.jpg">
        <!-- <a href="https://www.vecteezy.com/free-vector/cartoon">Cartoon Vectors by Vecteezy</a> -->
      </ion-card>
    </ion-col>
    <ion-col>
      <ion-card class="opacity">    
        <img src="/assets/img/italy_flag.jpg">
        <!-- <a href="https://www.vecteezy.com/free-vector/cartoon">Cartoon Vectors by Vecteezy</a> -->
      </ion-card>
    </ion-col>
  </ion-row>
</ion-content>