<ion-content [fullscreen]="true">

  <ion-row>
    <ion-col>
      <h1>My quizzes</h1>
    </ion-col>
  </ion-row>

  <ion-row>
    <ion-col class="padding">
      <ion-icon name="extension-puzzle-outline"></ion-icon>
      <span class="fav">Uncompleted quizzes</span>
    </ion-col>
  </ion-row>

  <ion-row class="badges-padding">
    <div *ngFor="let quiz of quizzes"> 
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            <p class="title">
              {{quiz.quiz_title}}
            </p>
          </mat-panel-title>
        </mat-expansion-panel-header>
        
        <div *ngFor="let quiz of quiz.questions">
          <p class="desc">
            <b>
              {{ quiz.question_text }}
            </b>
          </p>

          <div *ngFor="let option of quiz.options">
            <ion-button (click)="checkAnswer(option, $event)" class="options">
              {{ option.option_text }}
            </ion-button>
          </div>

          <br>
          <br>
        </div>

        <ion-row>
          <ion-button class="center" (click)="presentModal()">
            Complete quiz
          </ion-button>
        </ion-row>
        
      </mat-expansion-panel>
    </div> 
  </ion-row>

  <ion-row>
    <ion-col class="padding extra">
      <ion-icon name="extension-puzzle-outline"></ion-icon>
      <span class="fav">Completed quizzes</span>
    </ion-col>
  </ion-row>

</ion-content>