h1 {
  text-align: center;
  padding-top: 70px;
  font-weight: bold;
}
  
.logpad {
  padding-bottom: 20px;
  padding-left: 15px;
}
  
.signupinfo {
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 20px;
}
  
.down {
  padding: 1em 0 3em 0;
  cursor: pointer;
}

.brandicons {
  padding-left: 10px;
  font-size: 30px;
  color:gray;
}

ion-text {
  text-align: center;
}

ion-button{
  margin-top: 40px;
  padding: 0 60px 0 60px;
}

.icons {
  color:black;
}

.input-icon {
  color: black !important;
  margin: 15px 0 0 0 !important;
  background-color: transparent;
}

.no-padding {
  padding-bottom: 0 !important;
}

ion-input{
  margin-left: 40px;
}

.link {
  text-align: center;
  color: #D46363;
}

.social {
  text-align: center;
  margin: 0 0 4em 0;
}