<ion-content [fullscreen]="true">
  <h1>Login</h1>

  <ion-list>    
    <ion-item class="signupinfo"> 
      <span item-right><ion-icon class="input-icon" name="person-outline"></ion-icon></span>
      <ion-input class="input-text" type="text" placeholder="Enter email" [(ngModel)]="profile.email" required></ion-input>
    </ion-item>

    <ion-item class="signupinfo"> 
      <span item-right><ion-icon name="lock-closed-outline"></ion-icon></span>
      <ion-input class="input-text" type="text" placeholder="Enter password" [(ngModel)]="profile.password" required></ion-input>
    </ion-item>
       
    <!--Log in button -->
    <ion-button expand="block" [routerLink]="['/tabs/homepage']">Log in</ion-button>
    <ion-text color="dark">
      <p class="down">Forgot your password?</p>
    </ion-text>
    
    <!--Sign up -->
    <ion-text color="danger">
      <a [routerLink]="['/signup']">Sign up here</a> 
    </ion-text>

    <ion-grid>
      <ion-row>

        <ion-col>
          <ion-icon class="brandicons" name="logo-facebook"></ion-icon>
          <ion-icon class="brandicons" name="logo-twitter"></ion-icon>
          <ion-icon class="brandicons" name="logo-google"></ion-icon>
        </ion-col>
  
      </ion-row>
    </ion-grid>
    
    <!--Continue as guest -->
    <ion-text color="danger">
      <a [routerLink]="['/tabs/homepage']">Continue as guest</a> 
    </ion-text>
  </ion-list>
</ion-content>