<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="homepage">
      <ion-icon name="home-outline"></ion-icon>
    </ion-tab-button>

    <ion-tab-button tab="map">
      <ion-icon name="map-outline"></ion-icon>
    </ion-tab-button>

    <ion-tab-button tab="restaurants">
      <ion-icon name="restaurant-outline"></ion-icon>
    </ion-tab-button>

    <ion-tab-button tab="badges">
      <ion-icon name="medal-outline"></ion-icon>
    </ion-tab-button>

    <ion-tab-button tab="profile">
      <ion-icon name="person-outline"></ion-icon>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
