#map {
  height: 100%;
}

.center-title {
  text-align: center;
}

.firstHeading {
  text-align: center;
}

h1 {
  font-weight: bold;
  padding: 2em 0.8em 0;
}

.background {
  background-color: #D46363;
  color: white;
}
