<ion-content [fullscreen]="true">
  <ion-row>
    <ion-col class="background">
      <h1>
        Hello, {{ full_name }} 
      </h1>
    </ion-col>
  </ion-row>

  <ion-row>
    <ion-col class="padding">
      <h2>
        Where to next? 
      </h2>
      <h3>
        Let the wheel suggest your next visit!
      </h3>
    </ion-col>
  </ion-row>

  <ion-row>
    <ion-col class="padding">
      
      <div id="mainbox" class="mainbox">
        <div id="box" class="box">
          <div class="box1">
            <span class="span1 full-color"><b>Roskilde Domkirke</b></span>
            <span class="span2 full-color"><b class="second">Vikingeskibsmuseet</b></span>
            <span class="span3 full-color"><b class="third">Roskilde Museum</b></span>
            <span class="span4 full-color"><b class="fourth">Ragnarock</b></span>
          </div>
          <div class="box2" [routerLink]="['/tabs/map']">
            <span class="span1 pastel"><b class="fifth">Roskilde Havn</b></span>
            <span class="span2 pastel"><b class="sixth">Maglekilde</b></span>
            <span class="span3 pastel"><b class="seventh">Boserup Skov</b></span>
            <span class="span4 pastel"><b class="eigth">Klosterkilden</b></span>
          </div>
        </div>

        <button class="spin" (click)="spin()">SPIN</button>
      </div>

    </ion-col>
  </ion-row>

  <br>
  <br>

  <!-- <ion-row>
    <ion-col class="padding">
      Make your trip easier with these apps!
    </ion-col>
  </ion-row>

  <ion-row>
    <ion-col class="padding">
      <a href="https://www.apple.com/app-store/" target="_blank">
        <img src="./assets/img/dot.jpg">
      </a>
    </ion-col>
    <ion-col class="padding">
      <a href="https://www.apple.com/app-store/" target="_blank">
        <img src="./assets/img/rejseplanen.png">
      </a>
    </ion-col>
    <ion-col class="padding">
      <a href="https://www.apple.com/app-store/" target="_blank">
        <img src="./assets/img/cphairport.png">
      </a>
    </ion-col>
    <ion-col class="padding">
      <a href="https://www.apple.com/app-store/" target="_blank">
        <img src="./assets/img/zello.png">
      </a>
    </ion-col>
  </ion-row>

  <ion-row>
    <ion-col class="padding">
      <a href="https://www.apple.com/app-store/" target="_blank">
        <img src="./assets/img/tripadvisor.png">
      </a>
    </ion-col>
    <ion-col class="padding">
      <a href="https://www.apple.com/app-store/" target="_blank">
        <img src="./assets/img/locals.jpg">
      </a>
    </ion-col>
    <ion-col class="padding">

    </ion-col>
    <ion-col class="padding">
    
    </ion-col>
  </ion-row>

  <br>
  <br> -->

</ion-content>
