h1 {
  font-weight: bold;
  padding: 2em 0.8em 0;
}

.padding {
  padding: 2em 1.8em 0;
}

span.fav {
  padding-left: 1em;
  font-size: 15px;
}

.fav-padding {
  padding: 2em 0 4em 3.9em;
  font-weight: 200;
}