<ion-content [fullscreen]="true">

  <ion-row>
    <ion-col>
      <h1>Restaurants & cafes</h1>
    </ion-col>
  </ion-row>

  <ion-searchbar animated class="search"></ion-searchbar>

  <ion-text style="color: #D46363">
    <h4>Nearest locations</h4>
  </ion-text>

  <div *ngFor="let location of locations">
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          {{location.icon}}
        </mat-panel-title>
        <mat-panel-description>
          {{location.name}}
        </mat-panel-description>
      </mat-expansion-panel-header>
      <p>{{location.openinghours}}</p>
      <ion-button>
        Navigate
      </ion-button>
    </mat-expansion-panel>
    <ion-button (click)="favService.add(location); isFavorite=true;" *ngIf="!isFavorite" expand="block">
      Add to Favorites
    </ion-button>
    <ion-button (click)="favService.remove(location); isFavorite=false;" *ngIf="isFavorite" expand="block">
      Remove from Favorites
    </ion-button>
  
  </div>

  <!-- <ion-list>  
    <ion-item (click) ="aboutKaffeKilden()"> 
        <ion-icon name="restaurant" class="ion-justify-content-start"></ion-icon>
        <ion-label style="padding-left: 20px;">Kaffekilden</ion-label>
        <ion-icon name="newspaper" style="padding-left: 20px;"></ion-icon>
        <ion-icon name="return-up-forward-outline" style="padding-left: 20px;" ></ion-icon>
    </ion-item>

    <ion-item (click) ="aboutSatchmo()">
      <ion-icon name="cafe"></ion-icon>
      <ion-label style="padding-left: 20px;">Café Satchmo</ion-label>
      <ion-icon name="newspaper" style="padding-left: 20px;"></ion-icon>
      <ion-icon name="return-up-forward-outline" style="padding-left: 20px;" ></ion-icon>
    </ion-item>
    <ion-item (click) ="aboutKorn()">
      <ion-icon name="cafe"></ion-icon>
      <ion-label style="padding-left: 20px;">Café Korn</ion-label>
      <ion-icon name="newspaper" style="padding-left: 20px;"></ion-icon>
      <ion-icon name="return-up-forward-outline" style="padding-left: 20px;"></ion-icon>
    </ion-item>
    <ion-item (click) ="aboutC48()">
      <ion-icon name="cafe"></ion-icon>
      <ion-label style="padding-left: 20px;">Café 48</ion-label>
      <ion-icon name="newspaper" style="padding-left: 20px;" ></ion-icon>
      <ion-icon name="return-up-forward-outline" style="padding-left: 20px;"></ion-icon>
    </ion-item>
    <ion-item (click) ="aboutVivaldi()">
      <ion-icon name="cafe"></ion-icon>
      <ion-label style="padding-left: 20px;">Café Vivaldi</ion-label>
      <ion-icon name="newspaper" style="padding-left: 20px;"></ion-icon>
      <ion-icon name="return-up-forward-outline" style="padding-left: 20px;" ></ion-icon>
    </ion-item>
    <ion-item (click) ="aboutRibhouse()">
      <ion-icon name="restaurant"></ion-icon>
      <ion-label style="padding-left: 20px;">Rib House</ion-label>
      <ion-icon name="newspaper"></ion-icon>
      <ion-icon name="return-up-forward-outline" style="padding-left: 20px;"></ion-icon>
    </ion-item>
  </ion-list>
   -->
</ion-content>
