<ion-content [fullscreen]="true">
  <ion-title class="profile-title" size="large">Profile</ion-title>

  <ion-list>

     <ion-grid>
      <ion-row>
        <ion-col>
          <ion-avatar>
            <img src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y">
          </ion-avatar>
        </ion-col>
        <ion-col>
          Sarah Surname
        </ion-col>
      </ion-row>
    </ion-grid>

    <ion-item>Change profile picture</ion-item>
    <ion-item>Change name</ion-item>
    <ion-item>Change location</ion-item>
    <ion-item>Help</ion-item>
  </ion-list>

</ion-content>