.center-title {
    text-align: center;
  }

  h1 {
    font-weight: bold;
    padding: 2em 0.8em 0;
  }

  h4 {
    padding: 0.2em 0 0 1.7em;
  }

  .search {
    width: 340px;
    margin: 0 auto;
  }

  .padding {
    margin: 0 0.7em;
  }