<ion-content [fullscreen]="true">

<!--Header -->
  <ion-header [translucent]="true">
    <ion-toolbar>
      <ion-title>
        <b>Profile</b>
      </ion-title>
    </ion-toolbar>
  </ion-header>

  <!--Grid in list -->
  <ion-list>
     <ion-grid>
      <ion-row>
        <ion-col>
          <div class="center">
            <img class="woman" src="https://scontent-cph2-1.xx.fbcdn.net/v/t1.15752-9/248425799_2083720761779392_2681034977990480541_n.png?_nc_cat=103&ccb=1-5&_nc_sid=ae9488&_nc_ohc=DVcKyVCCpjsAX9_XfH1&_nc_oc=AQn232Mr-V2QTheVzLfz6HFqwTtAtcrpp1rPn-doX9es93an0xPPXI2Rnw5nctW9XYk&_nc_ht=scontent-cph2-1.xx&oh=2c8ccab7938a1660037c7aa4a8dd393a&oe=619ABCD6">
          </div>
        </ion-col>
        <ion-col class="margin-right">
          <ion-text>
            <h1>Sarah Hansen</h1>
            <p class="text"><ion-icon name="location-outline"></ion-icon>Roskilde</p>
          </ion-text>
        </ion-col>
      </ion-row>
    </ion-grid>

    <!--Padding at the end -->
    <ion-item class="no-padding">
      <ion-label></ion-label>
      <ion-input></ion-input>
    </ion-item>

    <!--the list/ content (+microinteractions)-->
    <ion-item>
      <ion-label class="pad" position="floating"><ion-icon name="ribbon-outline"></ion-icon>Achievements</ion-label>
      <ion-input></ion-input>
    </ion-item>
    
    <ion-item>
      <ion-label class="pad" position="floating"><ion-icon name="person-outline"></ion-icon>Change profile picture</ion-label>
      <ion-input></ion-input>
    </ion-item>

    <ion-item>
      <ion-label class="pad" position="floating"><ion-icon name="language-outline"></ion-icon>Change name</ion-label>
      <ion-input></ion-input>
    </ion-item>

    <ion-item>
      <ion-label class="pad" position="floating"><ion-icon name="location-outline"></ion-icon>Change location</ion-label>
      <ion-input></ion-input>
    </ion-item>

    
    <ion-item>
      <ion-label class="pad" position="floating"><ion-icon name="log-out-outline"></ion-icon>Log out</ion-label>
      <ion-input></ion-input>
    </ion-item>
    
  </ion-list>
</ion-content>