<div class="ion-text-center ion-padding">
  <h3>Korn <br> Opening Hours</h3>
  <br>
  <ion-col size="col-6 ion-text-left"> Mon</ion-col> <ion-col size="col 6 ion-text-right">10-15</ion-col>
  <br>
  <ion-col size="col-6 ion-text-left"> Tue</ion-col> <ion-col size="col 6 ion-text-right">9-20</ion-col>
  <br>
  <ion-col size="col-6 ion-text-left"> Wed</ion-col> <ion-col size="col 6 ion-text-right">Closed</ion-col>
  <br>
  <ion-col size="col-6 ion-text-left"> Thur</ion-col> <ion-col size="col 6 ion-text-right">9-21</ion-col>
  <br>
  <ion-col size="col-6 ion-text-left"> Fri</ion-col> <ion-col size="col 6 ion-text-right">9-21</ion-col>
  <br>
  <ion-col size="col-6 ion-text-left"> Sat</ion-col> <ion-col size="col 6 ion-text-right">9-20</ion-col>
  <br>
  <ion-col size="col-6 ion-text-left"> Sun</ion-col> <ion-col size="col 6 ion-text-right">10-15</ion-col>
  <br><br>
 
</div>