<ion-content>

  <ion-row class="ion-align-items-end">
    <ion-col size="6" size-lg offset="9">
      <ion-icon (click)="dismiss()" name="close-outline"></ion-icon>
    </ion-col>
  </ion-row>

  <ion-row>
    <ion-col>
      <h1 class="center bold">
        Congratulations!
      </h1>
    </ion-col>
  </ion-row>

  <ion-row>
    <ion-col>
      <h3 class="center">
        You have completed the quiz
      </h3>
    </ion-col>
  </ion-row>

  <ion-row>
    <ion-col>
      <br>
      <br>
      <br>
    </ion-col>
  </ion-row>

  <ion-row>
    <ion-col>
      <h3 class="center">
        Here's a coupon for you:
      </h3>
    </ion-col>
  </ion-row>
    
  <ion-row>
    <ion-col>
      <h2 class="center coupon">
        10%
      </h2>
    </ion-col>
  </ion-row>

  <ion-row>
    <ion-col>
      <h3 class="center">
        for any of our partner restaurant or cafes
      </h3>
    </ion-col>
  </ion-row>

  <ion-row>
    <ion-button class="center margin" (click)="dismiss()">
      Claim my coupon
    </ion-button>
  </ion-row>

</ion-content>
