ion-icon {
  font-size: 2.5em;
  margin: 0.7em;
}

.center {
  text-align: center;
  margin: 0 auto;
}

.bold {
  font-weight: bold;
}

.coupon {
  font-size: 3em;
  color: #2dd36f;
  margin: 1em auto;
}

.margin {
  margin-top: 5em !important;
} 