<ion-header>
  <ion-row>
    <ion-col class="ion-align-self-start">
      <h2 class="coupons">
        My coupons
      </h2>
    </ion-col>
    <ion-col class="ion-align-self-center">
      
    </ion-col>
    <ion-col [routerLink]="['/tabs/profile']"  class="ion-align-self-end">
      <ion-icon name="close-outline"></ion-icon>
    </ion-col>
  </ion-row>
</ion-header>

<ion-content>

  <ion-row>
    <ion-col class="ion-align-self-start">
      <ion-list>
        <ion-item>
          10% discount
          <ion-button class="redeem">
            Redeem
          </ion-button>
        </ion-item>
      </ion-list>
    </ion-col>
    
  </ion-row>

</ion-content>
